@charset "utf-8";

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
  text-align: center;
}

.bt_wrap a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}